.a{
	height: 3100px;
	width: 1000px;
	background-color: pink;

}
.b{
	height: 500px;
	width: 1000px;
	background-color: red;

}
.d{
	height: 500px;
	width: 400px;
	background-color: lightblue;
	float: left;
}
.e{
	height: 500px;
	width: 600px;
	background-color: lightblue;
	float: left;
}
.c{
	height: 2500px;
	width: 1000px;
	background-color: blue;
}
.f{
	height: 100px;
	width: 1000px;
	background-color: lightblue;
}
.f p{
	color: green;
	/*padding-left: 50px;
	padding-top: 30px;*/
	padding-top:40px;
	margin-left:90px;
	font-size:30px;
	
}
.g{
	height: 3000px;
	width: 1000px;

}
h1{
	
	margin-left: 50px;
	color: red;
}
.d h3{
	margin-top: 90px;
	margin-left: 105px;
	color: green;
}
.u h3{
	margin-top: 90px;
	margin-left: 105px;
	color: green;
}
h5{
		margin-left: 85px;
		color: black;

}
/*p{
	margin-left: 850px;
	color: green;
}*/
.i{
  background-color: green;
  color: white;
  margin-left: 100px;
  padding-bottom: 5px;

}
/*.j{
	height:2500px;
	width: 1000px;
	background-color: yellow; 
}*/
.k{
	height: 630px;
	width: 1000px;
	background-color: green;

}
.l{
	height: 1430px;
	width: 1000px;
	background-color: orange;
}
.m{
	height: 200px;
	width: 1000px;
	background-color: green;
	float: left;
}
.n{
	height: 610px;
	width: 1000px;
	background-color: green;

}
.o{
	color: white;
	background-color: green;
	padding-top: 30px;
}
 h6{
	color: white;
}
.q{
	height: 210px;
	width: 330px;
	background-color:green;
	float: left;


}
.q img{
	margin: 30px;
}
/*img{
	margin-left:100px;
}*/
.r{
	height: 200px;
	width: 300px;
margin-left: 20px;

	background-color: white;
    float: left;

}
.s{
	height: 290px;
	width: 1000px;
	background-color: white;

}
.u{
	height: 310px;
	width: 500px;
	float: left;
	background-color: white;

}
.t{
	height: 1160px;
	width: 1000px;
	background-color: yellow;
}
.u img{
	margin: 20px;
}
.r img{
	padding-left: 0px;
	padding-top: 15px;
}
.x{
	height: 400px;
	width: 1000px;
	background-color: white;

}
.F{
	height: 250PX;
	width: 1000px;
	background-color: green;
}
.G{
	height: 150px;
	width: 1000px;
	background-color: white;
}
.y{
	height: 760px;
	width:1000px;
	background-color: blue;
}
/*.v{
	height: 250px;
	width: 500px;
	background-color: blue;
	float: left;
}
.w{
	height: 250px;
	width: 500px;
	background-color: white;
	float: left;
}
.w h3{
	margin-top: 20px;
	margin-left: 105px;
	color: green;
}*/
/*.E{
	height: 250px;
			width: 1000px;
			background-color: green;
			position:static ;
			float: left;
}*/
.A{
	height: 250px;
			width: 175px;
			background-color: white;
			position:relative;
			top: 32px;
			left: 90px;
			float: left;

}
.B{
	height: 250px;
			width: 175px;
			background-color: white;
			position:relative;
			top: 32px;
			left: 120px;
			float: left;

}
.C{
	height: 250px;
			width: 175px;
			background-color: white;
			position:relative;
			top: 32px;
			left: 160px;
			float: left;

}
.D{
	height: 250px;
			width: 175px;
			background-color: white;
			position:relative;
			top: 32px;
			left: 200px;
			float: left;

}
/*.G{
	height: 400px;
			width: 175px;
			background-color: blue;
			position:relative;
			top: 185px;
			left: 120px;
			float: left;

}*/
.J h3{
    color: green;
}
.J i{
	color: black;
	background-color: white;
}
.J{
	height: 107px;
	width: 175px;
background-color: white;
}
.H{
	height: 125px;
	width: 175px;
	background-color: brown;
}
.F h2{
	color: white;
	padding-top: 10px;
	/*padding-left: 375px;*/
}
.F p{
	color: white;
}
/*.K{
	height: 300px;
	width: 1000px;
	background-color: pink;
}*/
.M{
	height: 760px;
	width: 1000px;
	background-color: pink;
}
.N{
	height: 300px;
	width: 1000px;
	background-color: green;
}
.O{
	height: 460px;
	width: 1000px;
	background-color: lightblue;
}
.P{
	height: 300px;
	width: 500px;
	background-color: violet;
	float: left;
}
.Q{
	height: 300px;
	width: 500px;
	background-color: white;
	float: left;
}
.Q h3{
	margin-top: 20px;
	margin-left: 105px;
	color: green;

}
.S{
	height: 350px;
	width: 250px;
	background-color: black;
	float: left;
	margin-bottom: 40px;
	margin-top: 60px;
	margin-left: 60px;
}
.T{
	height: 175px;
	width: 250px;
	background-color: white;
}
.U{
	height: 175px;
	width: 250px;
	background-color: white;
}
.T img{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	padding-left: 75px;
	padding-right: 75px;
	padding-top: 40px;
	padding-bottom: 40px;
}
.W{
	height: 300px;
	width: 1000px;
	background-color: white;
}
.X{
	height: 300px;
	width: 500px;
	background-color: white;
	float: left;
}
.Y{
	height: 300px;
	width: 500px;
	background-color: green;
	float: left;
}
.X h3{

	margin-top: 20px;
	margin-left: 105px;
	color: green;
}
.Z{
	height: 300px;
	width: 1000px;
	background-color: blue;
}
.w{
	height: 300px;
	width: 500px;
	background-color: white;
	float: left;
}